<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

<!-- =================================================================================== -->
<!-- Extension: Project Wizards                                                          -->
<!-- =================================================================================== -->
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="TBLips"
            id="org.objectstyle.wolips.wizards">
      </category>
      <wizard
            name="TBComponent Controller/View"
            icon="icons/tbwizard/new-component-controller.png"
            category="org.objectstyle.wolips.wizards"
            id="org.objectstyle.wolips.wizards.tbcomponentview">
            <class class="org.objectstyle.wolips.wizards.component.NewComponentCreationWizard">
              <parameter name="javatype" value="true"/>
            </class>
         <description>
         </description>
         <selection
               class="org.eclipse.core.resources.IResource">
         </selection>
      </wizard>
	  <wizard
	        name="TB Application (Extended)"
	        category="org.objectstyle.wolips.wizards"
	        icon="icons/woproject/woapplication_wiz.gif"
	        id="org.objectstyle.tblips.wizards.TBApplicationExtendedWizard"
	        project="true">
	        <class class="org.objectstyle.wolips.wizards.TBApplicationExtendedWizard">
	          <parameter name="wotype" value="true"/>
	        </class>
	     <description>
	        Build a TreasureBoat Extended Application. Contains Gumby Design and Dashboard.
	     </description>
	  </wizard>
	  <wizard
	        name="TB Application (Gradle)"
	        category="org.objectstyle.wolips.wizards"
	        icon="icons/woproject/woapplication_wiz.gif"
	        id="org.objectstyle.tblips.wizards.TBApplicationGradleWizard"
	        project="true">
	        <class class="org.objectstyle.wolips.wizards.TBApplicationExtendedWizard">
	          <parameter name="wotype" value="true"/>
	        </class>
	     <description>
	        Build a TreasureBoat Extended Application with Gradle Build Stuff.
	     </description>
	  </wizard>
      <wizard
            name="TB Application (Basic)"
            category="org.objectstyle.wolips.wizards"
            icon="icons/woproject/woapplication_wiz.gif"
            id="org.objectstyle.tblips.wizards.TBApplicationWizard"
            project="true">
            <class class="org.objectstyle.wolips.wizards.TBApplicationWizard">
              <parameter name="wotype" value="true"/>
            </class>
         <description>
            Build a TreasureBoat Basic Application.
         </description>
      </wizard>
      <wizard
            name="TB Framework"
            category="org.objectstyle.wolips.wizards"
            icon="icons/woproject/woframework_wiz.gif"
            id="org.objectstyle.tblips.wizards.TBFrameworkWizard"
            project="true">
            <class class="org.objectstyle.wolips.wizards.TBFrameworkWizard">
              <parameter name="wotype" value="true"/>
            </class>
         <description>
             Create an Empty TreasureBoat Framework.
         </description>
      </wizard>
	  <wizard
			name="TB Project from Template"
			icon="icons/woproject/woapplication_wiz.gif"
			category="org.objectstyle.wolips.wizards"
			project="true"
			id="org.objectstyle.wolips.wizards.new.projectFromTemplate">
			<class class="org.objectstyle.wolips.wizards.template.NewWOProjectWizard">
			  <parameter name = "wotype" value = "true"/>
			</class>
		 <description>
		 	Create TreasureBoat project form teamplate
		 </description>
	  </wizard>
      <wizard
            name="EOModel"
            category="org.objectstyle.wolips.wizards"
            icon="icons/woproject/ModelBundle.png"
            id="org.objectstyle.wolips.wizards.new.wo.5.1.eomodel">
            <class class="org.objectstyle.wolips.wizards.EOModelCreationWizard">
              <parameter name="eotype" value="true"/>
            </class>
         <description>
         	Create an EOModel (Object-Relational-Mapping model)
         </description>
         <selection
               class="org.eclipse.core.resources.IResource">
         </selection>
      </wizard>
      <wizard 
            name="EOGenerator"
            category="org.objectstyle.wolips.wizards"
            icon="icons/woproject/EOGenerator.png"
            id="org.objectstyle.wolips.wizards.new.eogen"
            >
            <class class="org.objectstyle.wolips.wizards.EOGeneratorWizard">
              <parameter name="eotype" value="true"/>
            </class>
         <description>
         	Run EOGenerator to create Entity and _Entity Java Class files
         </description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
      <wizard
            name="EOModelGroup"
            category="org.objectstyle.wolips.wizards"
            icon="icons/woproject/ModelGroup.png"
            id="org.objectstyle.wolips.wizards.new.eomodelgroup"
            >
            <class class="org.objectstyle.wolips.wizards.EOModelGroupWizard">
              <parameter name="eotype" value="true"/>
            </class>
         <description>
         	Run EOModelGroup Wizard
         </description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>
<!-- =================================================================================== -->
<!-- Extension: Action set in the perspective                                            -->
<!-- =================================================================================== -->
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="TBLips Wizards"
            description="TBLips Wizards"
            visible="false"
            id="org.objectstyle.wolips.wizards.ElementCreationActionSet">
        <action
              class="org.objectstyle.wolips.wizards.actions.NewWODropDown"
              icon="icons/wolips/TBLips16x16.png"
              id="org.objectstyle.wolips.wizards.actions.NewWODropDown"
              label="TB"
              style="pulldown"
              toolbarPath="Normal/WOLipsWizards"
              tooltip="Create new project">
         </action>
        <action
              class="org.objectstyle.wolips.wizards.actions.NewEODropDown"
              icon="icons/woproject/ModelGroup.png"
              id="org.objectstyle.wolips.wizards.actions.NewEODropDown"
              label="EO"
              style="pulldown"
              toolbarPath="Normal/WOLipsWizards"
              tooltip="Entity Modeler actions">
         </action>
      </actionSet>
   </extension>
<!-- =================================================================================== -->
<!-- Extension: Popup menus                                                              -->
<!-- =================================================================================== -->
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="org.objectstyle.wolips.wizards.actions.eogenFromEOModel"
            nameFilter="*.eomodeld"
            objectClass="org.eclipse.core.resources.IResource">
         <action
               class="org.objectstyle.wolips.wizards.actions.CreateEOGenFromEOModelAction"
               icon="icons/woproject/EOGenerator.png"
               id="org.objectstyle.wolips.wizards.actions.eogenFromEOModel"
               label="Create EOGenerator File"
               menubarPath="org.objectstyle.wolips.ui.ResourceContributions/group0"/>
         <action
               class="org.objectstyle.wolips.wizards.actions.CreateEOModelGroupFromEOModelAction"
               icon="icons/woproject/ModelGroup.png"
               id="org.objectstyle.wolips.wizards.actions.eomodelgroupFromEOModel"
               label="Create EOModelGroup File"
               menubarPath="org.objectstyle.wolips.ui.ResourceContributions/group0"/>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.importWizards">
      <category
            id="org.objectstyle.wolips.wizards.actions.importEOModelCategory"
            name="TBLips">
      </category>
      <wizard
            category="org.objectstyle.wolips.wizards.actions.importEOModelCategory"
            class="org.objectstyle.wolips.wizards.actions.NewEOModelImportWizard"
            icon="icons/woproject/eomodel_wiz.gif"
            id="org.objectstyle.wolips.wizards.actions.NewEOModelImportWizard"
            name="Import EOModels">
      </wizard>
   </extension>
</plugin>
